.CouponList {
  color: #6e85b7;
}

.CouponList .range-length {
  width: 250px;
}

.CouponList input {
  width: 50px;
}

.CouponList .margin-top {
  margin-top: 30px;
  margin-left: 10px;
}

.CouponList form {
  background-color: antiquewhite;
  border: dashed burlywood;
  padding: 3px;
}
