.EmptyView {
  color: #6e85b7;
}

.noHover {
  pointer-events: none;
}

.shadow {
  box-shadow: 0 8px 16px 0 black;
}

.EmptyView iframe {
  border-radius: 5%;
  margin: 10px;
}

.EmptyView h2 {
  margin: 15px;
}
