.OneCompanyBoot {
  height: 100%;
  width: 100%;
  margin: 5px;
}

.OneCompanyBoot p {
  font-size: medium;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
