.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  /* background-color: aqua; */
}

.App > .Header {
  background-color: #d9f8c4;
  color: #6e85b7;
  /* border: 3px solid #d9f8c4; */
  grid-column: 12 span;
  grid-row: 2 span;
}

.App > .Menu {
  background-color: #fad9a1;
  color: #6e85b7;
  /* border: 3px solid #d9f8c4; */
  grid-column: 1 span;
  grid-row: 9 span;
}

.App > .Main {
  background-color: #f9f9c5;
  color: white;
  /* border: 3px solid #d9f8c4; */
  grid-column: 11 span;
  grid-row: 9 span;
  overflow-y: auto;
}

.App > .Footer {
  background-color: #f37878;
  color: #06283d;
  /* border: 3px solid #d9f8c4; */
  grid-column: 12 span;
  grid-row: 1 span;
}
